@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Nosifer&family=Signika:wght@400;500;600;700&display=swap");

*::af::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-family: "Lexend", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.nav-bar {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}
.nav-bar h2:first-child {
  grid-column: 1/2;
  justify-self: center;
  font-size: 4rem;
}
.nav-bar h2:last-child {
  grid-column: 4/-1;
  justify-self: center;
  font-size: 4rem;
}
.nav-bar input {
  grid-column: 2/4;
  height: 4rem;
  padding: 0.8rem;
  font-size: 2.5rem;
  outline: none;
  border: 2px solid green;
  border-radius: 16px;
}
.nav-bar input:focus {
  border: 3px solid green;
}
.pages {
  width: 80%;
  margin: auto;
  display: flex;
  /* border: 2px solid red; */
  gap: 5rem;
}
.display-page {
  flex: 1 1 40%;
  /* border: 2px solid blue; */
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  background-color: rgb(61, 61, 61);
}
.movie-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}
.movie {
  display: flex;
  /* justify-content: center; */
  gap: 2rem;
  align-items: center;
}
.image {
  width: 10rem;
  height: 15rem;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.movie h2 {
  font-size: 3rem;
}
.movie .year {
  font-size: 2.5rem;
}
.toggle {
  width: 5rem;
  height: 5rem;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}
.movie-details {
  display: flex;
}
.detail-image {
  width: 50rem;
  height: 60rem;
}
.detail-image img {
  width: 100%;
  height: 100%;
}
.descriptions {
  padding: 2rem;
}
.descriptions h2,
.descriptions p {
  font-size: 2.5rem;
}
.rating {
  margin: 6rem auto;
  text-align: center;
  border: 2px solid white;
  width: 300px;
  padding: 2rem;
  background-color: black;
}
.rating button {
  font-size: 2.5rem;
  border: 2px solid blue;
  width: 80%;
  margin: auto;
  padding: 0.7rem;
  margin-top: 1.2rem;
  cursor: pointer;
}
.summary h2 {
  font-size: 3rem;
}
.summary div {
  display: flex;
  gap: 3rem;
}
.summary p,
.summary span {
  font-size: 2.5rem;
}
.summary span {
  color: red;
}
.watched-container {
  display: flex;
  gap: 8rem;
  align-items: center;

  width: 80%;
  margin: auto;
}
.watched-image {
  width: 20rem;
  height: 24rem;
  flex-basis: 33%;
}
.watched-image img {
  width: 100%;
  height: 100%;
}
.watched-details {
  flex-basis: 33%;
}
.watched-details h2 {
  font-size: 3rem;
}
.watched-rating {
  flex-basis: 33%;
}
.watched-rating p {
  font-size: 2.5rem;
}
.watched-container button {
  width: 100px;
  height: 50px;
  justify-self: end;
  font-size: 3rem;
}
.watched-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.previous-page {
  font-size: 1.2rem;
}
